@font-face {
    font-family: 'FuenteX';
    src: url('./Coiny-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.hello{
    color:red;
    font-family: 'FuenteX';
    background: url('./icon.jpeg');
}